@model ProjektInzynierski.Infrastructure.Models.ReservationDao

<h1>Szczegóły rezerwacji</h1>

<p><strong>Id rezerwacji:</strong> @Model.Id</p>
<p><strong>Data rozpoczęcia:</strong> @Model.StartDate.ToShortDateString()</p>
<p><strong>Data zakończenia:</strong> @Model.EndDate.ToShortDateString()</p>
<p><strong>Status:</strong> @Model.Status</p>
<p><strong>Klient:</strong> @Model.Client.Name</p>

<h2>Sprzęt</h2>
<ul>
    @foreach (var item in Model.Items)
    {
        <li>@item.Equipment.Name</li>
    }
</ul>

<a asp-action="Index">Powrót</a>
