@model IEnumerable<ProjektInzynierski.Application.Models.CartItem.CartItemDto>;
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@{
    ViewData["Title"] = "Equipment List";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2>Twój koszyk</h2>

<table class="table">
    <thead>
        <tr>
            <th>Nazwa</th>
            <th>Ilość</th>
            <th>Cena</th>
            <th>Łączna cena</th>
            <th>Akcje</th>
        </tr>
    </thead>
    <tbody>
        @if (Model != null && Model.Any())
        {
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.Name</td>
                    <td>@item.Quantity</td>
                    <td>@item.PricePerDay.ToString("C")</td>
                    <td>@item.TotalPrice.ToString("C")</td>
                    <td>
                        <form method="post" asp-action="RemoveFromCart" asp-controller="Cart">
                            <input type="hidden" name="equipmentId" value="@item.EquipmentId" />
                            <button type="submit" class="btn btn-danger">Usuń</button>
                        </form>
                    </td>
                </tr>
            }
        }
        else
        {
            <tr>
                <td colspan="5" class="text-center">Twój koszyk jest pusty</td>
            </tr>
        }
    </tbody>
</table>

@if (Model != null && Model.Any())
{
    <h3>Łączna kwota: @ViewBag.TotalPrice.ToString("C")</h3>
    <a asp-action="Finalize" asp-controller="Cart" class="btn btn-success">Finalizuj zamówienie</a>
}
