@model IEnumerable<ProjektInzynierski.Application.Models.CartItem.CartItemDto>;
@using ProjektInzynierski.Application.Extensions;
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@{
    ViewData["Title"] = "Cart";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2>Twój koszyk</h2>
@if (TempData["ErrorMessage"] != null)
{
    <div class="alert alert-danger">@TempData["ErrorMessage"]</div>
}

@if (TempData["SuccessMessage"] != null)
{
    <div class="alert alert-success">@TempData["SuccessMessage"]</div>
}

<table class="table">
    <thead>
        <tr>
            <th>Nazwa</th>
            <th>Ilość</th>
            <th>Cena</th>
            <th>Łączna cena</th>
            <th>Akcje</th>
        </tr>
    </thead>
    <tbody>
        @if (Model != null && Model.Any())
        {
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.Name</td>
                    <td>@item.Quantity</td>
                    <td>@item.PricePerDay.ToString() @item.PricePerDayCurrency</td>
                    <td>@item.TotalPrice.ToString()  @item.PricePerDayCurrency</td>
                    <td>
                        <form method="post" asp-action="RemoveFromCart" asp-controller="Cart">
                            <input type="hidden" name="equipmentId" value="@item.EquipmentId" />
                            <button type="submit" class="btn btn-danger">Usuń</button>
                        </form>
                    </td>
                </tr>
            }
        }
        else
        {
            <tr>
                <td colspan="5" class="text-center">Twój koszyk jest pusty</td>
            </tr>
        }
    </tbody>
</table>
<div class="text-right">
    <a asp-action="Index" asp-controller="Equipments" class="btn btn-secondary">Continue Shopping</a>
    <a method="post" asp-action="Index" asp-controller="FinalizeReservation" class="btn btn-primary">Set Reservation Dates</a>
</div>
@if (Model != null && Model.Any())
{
    <h3>Łączna kwota: @Model.GetTotalPricesSummary()</h3>
    @if (TempData["StartDate"] != null && TempData["EndDate"] != null)
    {
        <p>
            <strong>Selected Dates:</strong> @TempData["StartDate"] - @TempData["EndDate"]
        </p>
        <p><strong>Total Days:</strong> @(Convert.ToDateTime(TempData["EndDate"]) - Convert.ToDateTime(TempData["StartDate"])).Days</p>

        <form method="post" asp-action="FinalizeCart" asp-controller="Cart">
            <input type="hidden" name="startDate" value="@TempData["StartDate"]" />
            <input type="hidden" name="endDate" value="@TempData["EndDate"]" />
            <button type="submit" class="btn btn-success">Finalizuj</button>
        </form>

    }
    @if (TempData["ErrorMessage"] != null)
    {
        <div class="alert alert-danger">@TempData["ErrorMessage"]</div>
    }

} 

