@model EquipmentDto

<h1>Usuń sprzęt</h1>

<p>Czy na pewno chcesz usunąć sprzęt o nazwie: <strong>@Model.Name</strong>?</p>
<p>Kategoria: @Model.Category</p>
<p>Marka: @Model.Brand</p>
<p>Cena za dzień: @Model.PricePerDay @Model.PricePerDayCurrency</p>

<form asp-action="DeleteConfirmed" method="post">
    <input type="hidden" asp-for="Id" />
    <button type="submit">Usuń</button>
    <a href="@Url.Action("Index", "Equipments")">Anuluj</a>
</form>
