@using ProjektInzynierski.Application.Models.Equipment
@model EquipmentDto

<h1>Szczegóły sprzętu</h1>
<p><strong>Nazwa:</strong> @Model.Name</p>
<p><strong>Kategoria:</strong> @Model.Category</p>
<p><strong>Marka:</strong> @Model.Brand</p>
<p><strong>Opis:</strong> @Model.Description</p>
<p><strong>Cena za dzień:</strong> @Model.PricePerDay @Model.PricePerDayCurrency</p>
<p><strong>Dostępny:</strong> @(Model.IsAvailable ? "Tak" : "Nie")</p>

<a href="@Url.Action("Index", "Equipments")">Powrót do listy</a>
