@using ProjektInzynierski.Application.Models.Equipment
@using ProjektInzynierski.Domain.Common
@using ProjektInzynierski.Domain.Entities.Equipments;
@model EquipmentDto
@{
    ViewData["Title"] = "Equipment List";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    body::before {
        content: '';
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.5); 
        z-index: -1;
    }
</style>
<h1>Edytuj sprzęt</h1>

<form asp-action="Edit">
    <input type="hidden" asp-for="Id" />
    <div>
        <label for="Name">Nazwa</label>
        <input asp-for="Name" />
        <span asp-validation-for="Name"></span>
    </div>
    <div>
        <label for="Category">Kategoria</label>
        <select asp-for="Category">
            <option value="Lens" @(Model.Category == EquipmentCategory.Lens ? "selected" : "")>Obiektyw</option>
            <option value="Camera" @(Model.Category == EquipmentCategory.Camera ? "selected" : "")>Kamera</option>
            <option value="Tripod" @(Model.Category == EquipmentCategory.Tripod ? "selected" : "")>Statyw</option>
            <option value="Filters" @(Model.Category == EquipmentCategory.Filters ? "selected" : "")>Filtry</option>
            <option value="Light" @(Model.Category == EquipmentCategory.Light ? "selected" : "")>Oświetlenie</option>
        </select>
        <span asp-validation-for="Category"></span>
    </div>
    <div>
        <label for="Brand">Marka</label>
        <input asp-for="Brand" />
        <span asp-validation-for="Brand"></span>
    </div>
    <div>
        <label for="Description">Opis</label>
        <textarea asp-for="Description"></textarea>
        <span asp-validation-for="Description"></span>
    </div>
    <div>
        <label for="PricePerDay">Cena za dzień</label>
        <input asp-for="PricePerDay" />
        <span asp-validation-for="PricePerDay"></span>
    </div>
    <div>
        <label for="PricePerDayCurrency">Waluta</label>
        <select asp-for="PricePerDayCurrency">
            <option value="PLN" @(Model.PricePerDayCurrency == Currency.PLN ? "selected" : "")>PLN</option>
            <option value="USD" @(Model.PricePerDayCurrency == Currency.USD ? "selected" : "")>USD</option>
        </select>
        <span asp-validation-for="PricePerDayCurrency"></span>
    </div>
    <div>
        <label for="IsAvailable">Dostępność</label>
        <div class="mb-3">
            <label for="CompatibleEquipmentIds" class="form-label">Edytuj kompatybilne sprzęty</label>
            <select id="CompatibleEquipmentIds" name="CompatibleEquipmentIds" class="form-select" multiple>
                @foreach (var equipment in ViewBag.AllEquipments)
                {
                    <option value="@equipment.Id" @(Model.Compatibilities.Any(c => c.CompatibleEquipmentId == equipment.Id) ? "selected" : "")>
                        @equipment.Name
                    </option>
                }
            </select>
        </div>
