@using ProjektInzynierski.Application.Models.Equipment
@model IEnumerable<EquipmentDto>

<h1>Lista sprzętów</h1>
<table>
    <thead>
        <tr>
            <th>Nazwa</th>
            <th>Kategoria</th>
            <th>Marka</th>
            <th>Dostępność</th>
            <th>Akcje</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var equipment in Model)
        {
            <tr>
                <td>@equipment.Name</td>
                <td>@equipment.Category</td>
                <td>@equipment.Brand</td>
                <td>@(equipment.IsAvailable ? "Tak" : "Nie")</td>
                <td>
                    <a asp-action="Details" asp-route-id="@equipment.Id">Szczegóły</a> |
                    <a asp-action="Edit" asp-route-id="@equipment.Id">Edytuj</a> |
                    <a asp-action="Delete" asp-route-id="@equipment.Id">Usuń</a>
                </td>
            </tr>
        }
    </tbody>
</table>
