@model IEnumerable<ProjektInzynierski.Application.Models.Equipment.EquipmentDto>

@{
    ViewData["Title"] = "Select Equipment";

    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 class="text-center my-4">Sprzęt z kategorii @ViewData["Category"]</h2>

<div class="container">
    <div class="row">
        @foreach (var item in Model)

        {
            <div class="col-md-4 mb-4">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">@item.Name</h5>
                        <p class="card-text">Cena: @item.PricePerDay PLN/dzień</p>
                        <p class="card-text">@item.Description</p>
                        <p class="card-text">
                            Dostępność:
                            <strong class="@(item.IsAvailable == null ? "text-warning" : (item.IsAvailable ? "text-success" : "text-danger"))">
                                @(item.IsAvailable == null ? "Brak statusu" : (item.IsAvailable ? "Dostępny" : "Niedostępny"))
                            </strong>
                        </p>
                        <a href="@Url.Action("Reserve", "Equipments", new { id = item.Id })"
                           class="btn btn-primary @(item.IsAvailable == null || !item.IsAvailable ? "disabled" : "")">
                            Zarezerwuj
                        </a>
                        <form asp-action="AddToCart" asp-controller="CartItem" method="post" class="add-to-cart-form">
                            <input type="hidden" name="equipmentId" value="@item.Id" />
                            <input type="hidden" name="name" value="@item.Name" />
                            <input type="hidden" name="pricePerDay" value="@item.PricePerDay" />
                            <button type="submit" class="btn btn-primary">Add to Cart</button>
                        </form>
                    </div>
                </div>
            </div>
        }
    </div>
</div>


<script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
<script>
    $(document).ready(function () {
        $('.add-to-cart-form').on('submit', function (e) {
            e.preventDefault();

            $.ajax({
                url: '/CartItem/AddToCart',
                type: 'POST',
                data: $(this).serialize(),
                success: function (response) {
                    if (response.success) {
                        alert("Dodano do koszyka!");
                    } else {
                        alert("Wystąpił problem z dodaniem do koszyka.");
                    }
                },
                error: function () {
                    alert("Wystąpił błąd przy dodawaniu do koszyka.");
                }
            });
        });
    });
</script>
